.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none !important;
}
@media (prefers-reduced-motion: reduce) {
  .form-select {
    transition: none;
  }
}