/*=================================================================
    Company      : Anti Gabut Store 
    Document     : CSS
    Author       : Muhamad Ambrikom Tidar
    Project Name : Anti Gabut Store - Landing Page
    Year		 : 2021
=================================================================*/

// global
@import 'reset';

// main
@import 'main';
